<% @articles.each do |article| %>
  <h4><%= article.publication %> | <%= article.pub_date_readable %></h4>
  <h1><a href=<%=article.url%> alt="<%= article.headline %>"><%=article.headline%></a></h1>
  <h2><%= article.subhead %></h2>
  <h3><%= article.byline.titleize %></h3>
  <p><%= article.body %></p>
<% end %>
